# Ignore IDE and build files
target/
build/
dist/
nbproject/
build.xml
manifest.mf


# Ignore database and config file
data/
[Cc]onfig.json


# Ignore miscellaneous artifacts
*.dll
**/test.html*
**/!README.TXT