@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Great+Vibes);


/**************************************************************************/
/** Header
/**************************************************************************/


.header{
    height: 68px;
    background-color: #0d4262;
}

.header-logo{
    height: 40px;
    width: 160px;
}



.header-nav {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.header-link {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  display: inline-block;
  padding: 0;
  margin: 0 20px;
  color: #fff;
  opacity: 0.7;


  cursor: pointer;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}


.header-link:after{
  content: '';
  position: absolute;
  width: 0; height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fff;
  transition: width .15s ease;
  -webkit-transition: width .15s ease;
}



.header-link:hover, .header-link:active, .header-link:focus, .header-link-selected{
    opacity: 1.0;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    outline: 0 none;
}

.header-link:hover:after{
  width: 100%;
  left: 0;
  background: #fff;
  opacity: 0.6;
}


/**************************************************************************/
/** Button Div
/**************************************************************************/
/** The following class is used in the import wizard
 */
.button-div {
    padding: 0 12px 12px 12px;
    text-align: right;
    position: relative;
}


/**************************************************************************/
/** Error Callout
/**************************************************************************/
/** The following classes are used to define the style form validation
 *  messages.
 */

.error-callout-panel, .error-callout-arrow {
    border: 1px solid #adadad;
    background: #d86161;
    background: #c12f2f;
    color: #fff;
    cursor: pointer;
}

.error-callout-panel {
    border-radius: 3px;
    padding: 5px !important;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2), 0 13px 20px 0 rgba(0, 0, 0, 0.2);
}

.error-callout-arrow {
    width: 7px;
    height: 7px;
    padding: 12px;
}

.form-input-error {
    background-color: #ffebeb;
}

/**************************************************************************/
/** form-input placeholder
/**************************************************************************/

.form-input::placeholder {
  color: #a1a1a1;
  font-style: italic;
  font-size: 12px;
}



/**************************************************************************/
/** Transaction Grid
/**************************************************************************/
/** The following classes are used to define the style for the transaction
 *  grid in the Transactions panel
 */

.transaction-grid-debit {
    padding-right: 4px;
}

.transaction-grid-credit {
    color: #d8d8d8;
    background-color: green;
    padding: 3px 5px;
    border-radius: 5px;
}

.transaction-grid-source {
    font-size: 9px;
    line-height: 13px;
    margin-top: 5px;
    color: #a2a2a2;
}


/**************************************************************************/
/** Facets
/**************************************************************************/

 .facet-panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 3px 6px 8px -5px rgba(0, 0, 0, 0.24)
}


.facet-header {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 10px 15px;
    position: relative;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #bbbaba;
    background: #eaeaea;
    background-image: linear-gradient(to bottom, #f9f9f9, #e4e5e7);
}

.facet-body {
    padding: 4px 8px;
    /*
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    padding: 10px 5px 0px 10px;
    */
}

.facet-label {
    font-size: 12px;
    color: #3e3e3e;
    white-space: nowrap;
    cursor: pointer;
    padding: 1px 0 0 5px;
}

.facet-checkbox {
    width: 13px;
    height: 13px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background: #F6F6F6;
    cursor: pointer;
    margin: 0px;
    color: #2b2b2b;
}


.facet-checkmark {
    display: block;
    width: 3px;
    height: 6px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    margin: 1px 0 0 4px;
}


.facet-label, .facet-checkbox {
    margin: 2px 0 3px 0;
}



/**************************************************************************/
/** Material Spinner
/**************************************************************************/

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;

   -webkit-transition: opacity 1.4s ease-out; /* Safari */
           transition: opacity 1.4s ease-out;

    opacity: 0;
}

.path {
  stroke: #4285F4;
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}


/**************************************************************************/
/** Waitmask
/**************************************************************************/

.waitmask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.5);
}


/**************************************************************************/
/** 16x16 Icons
/**************************************************************************/

.checklistIcon, .copyIcon, .deleteIcon, .downIcon, .editIcon, .filterIcon,
.mergeIcon, .newIcon, .openIcon, .redoIcon, .refreshIcon, .rightIcon, .runIcon,
.saveIcon, .undoIcon {
    background: transparent url('../images/icons.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}
.checklistIcon {
    background-position: -2px -2px;
}
.copyIcon {
    background-position: -22px -2px;
}
.deleteIcon {
    background-position: -42px -2px;
}
.downIcon {
    background-position: -62px -2px;
}
.editIcon {
    background-position: -82px -2px;
}
.filterIcon {
    background-position: -2px -22px;
}
.mergeIcon {
    background-position: -22px -22px;
}
.newIcon {
    background-position: -42px -22px;
}
.openIcon {
    background-position: -62px -22px;
}
.redoIcon {
    background-position: -82px -22px;
}
.refreshIcon {
    background-position: -2px -42px;
}
.rightIcon {
    background-position: -22px -42px;
}
.runIcon {
    background-position: -42px -42px;
}
.saveIcon {
    background-position: -62px -42px;
}
.undoIcon {
    background-position: -82px -42px;
}





/**************************************************************************/
/** 16x16 Icons for Comboboxes
/**************************************************************************/
.downButtonIcon {
    background-image: url('../images/icons.png');
    background-repeat: no-repeat;
    background-color: #e4e4e4;
    background-position: -38px 4px;
}

.editButtonIcon {
    background-image: url('../images/icons.png');
    background-repeat: no-repeat;
    background-color: #e4e4e4;
    background-position: 3px -18px;
}

.rightButtonIcon {
    background-image: url('../images/icons.png');
    background-repeat: no-repeat;
    background-color: #e4e4e4;
    background-position: -37px -37px;
}


/**************************************************************************/
/** menu-item-checkmark - unused!
/**************************************************************************/
.menu-item-checkmark {
    display:inline-block;
    width: 22px;
    height:22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    margin:5px 5px 0 0;
    float:right;
    transition: 0.4s;
}

.menu-item-checkmark:before{
    content:"";
    position: absolute;
    width:2px;
    height:12px;
    background-color:#008000;
    left:11px;
    top:6px;
    box-shadow:2px 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.menu-item-checkmark:after{
    content:"";
    position: absolute;
    width:4px;
    height:2px;
    background-color:#008000;
    left:7px;
    top:16px;
}


/**************************************************************************/
/** Orange Panel
/**************************************************************************/

.orange-table {
    background-color: #fffdec;
    border-left: 1px solid #bbb062;
    border-right: 1px solid #bbb062;
}

.orange-table-header {
    border-bottom: 1px solid #bbb062;
    background: #d8d4b9;
    background-image: linear-gradient(to bottom, #f8f8f8, #d8d4b9);
}

.orange-table-header-col {
    color: #5a521a;
    text-shadow: 0px 2px 1px #efefef;
}

.orange-table-header-col:first-child{
    border: 0 none;
}
.orange-table-header-col:last-child{
    border: 0 none;
}


.orange-table-row {
    background: #fffdec;
    border-bottom: 1px solid #dedbbf;
    cursor: pointer;
}

/*
.orange-table-row:nth-child(odd) {
    background: #fbf8dd;
}
*/

.orange-table-row:hover{
    background-color:#EDF3FE;
}

.orange-table-row-selected {
    background:#FFFFB1;
    border-bottom: 1px solid #cccccc;
}

.bbar-orange {
    background-color: #bbb062;
}

.bbar-orange .bbar-button.bbar-button-hover {
    background: #827939;
}


/**************************************************************************/
/** Blue Panel
/**************************************************************************/

.blue-table {
    background-color: #f0f8ff;
}

.blue-table-header {
    border-bottom: 1px solid #5a88a5;
    background: #bed1dc;
    background-image: linear-gradient(to bottom, #d6e9f5, #9abdd2);
}

.blue-table-header-col {
    color: #416073;
    text-shadow: 0px 2px 1px #bad9ec;
}

.blue-table-row, .blue-table-row-selected {
    background: #f0f8ff;
    border-bottom: 1px solid #c3d5e4;
    cursor: pointer;
}

/*
.blue-table-row:nth-child(odd) {
    background: #deebf7;
}
*/

.blue-table-row:hover{
    background-color:#daf1ff;
}

.blue-table-row-selected {
    background:#FFFFB1;
    border-bottom: 1px solid #cccccc;
}

.bbar-blue {
    background-color: #5a88a5;
}


/**************************************************************************/
/** Green Panel
/**************************************************************************/

.green-table {
    background-color: #f0fff9;
}

.green-table-header {
    border-bottom: 1px solid #5aa56e;
    background: #44aa00;
    background-image: linear-gradient(to bottom, #d6f5e2, #9ad2a1);
}

.green-table-header-col {
    color: #364a37;
    text-shadow: 0px 2px 1px #baecd5;
}

.green-table-row, .green-table-row-selected {
    background: #f0fff9;
    border-bottom: 1px solid #c3d5e4;
    cursor: pointer;
}

.green-table-row:hover{
    background-color:#daf1ff;
}

.green-table-row-selected {
    background:#FFFFB1;
    border-bottom: 1px solid #cccccc;
}

.bbar-green {
    background-color: #5aa560;
}

.bbar-green .bbar-button.bbar-button-hover {
    background: #296d2f;
}



.blue-table-header-col,
.green-table-header-col,
.orange-table-header-col{
    font-family: helvetica,arial,verdana,sans-serif;
    font-size: 14px;
    white-space: nowrap;

    height: 35px;
    line-height: 35px;
    padding: 0 5px;

    text-align: center;
    font-weight: bold;

    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    cursor: default;
}


/**************************************************************************/
/** Bottom Toolbar
/**************************************************************************/
/** Appears in the Transaction panel, specifically in the transaction
 *  editor below the "Account" and "Category" lists
 */
.bbar {
    height: 28px;
}

.bbar-button, .bbar-button-hover, .bbar-button-selected {
    height: 25px;
    cursor: pointer;
    color: #272727;
    border: 1px solid rgba(0, 0, 0, 0);
    opacity: 0.9;
    transition: 0.2s;
    width: 25px;
}

.bbar-button-hover {
    background: #0d4262;
    opacity: 1.0;
}

.bbar-button-selected {
    background: #d2e3ed;
    border: 1px solid #adadad;
}

.bbar-button-icon-create, .bbar-button-icon-edit, .bbar-button-icon-delete {
    background: transparent url(../images/tools.png);
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
}

.bbar-button-icon-create {
    background-position: 0px -2px;
}

.bbar-button-icon-edit {
    background-position: -25px -2px;
}

.bbar-button-icon-delete {
    background-position: -53px -2px;
}


/**************************************************************************/
/** Reports Panel
/**************************************************************************/

.report-preview {
    display:inline-block;
    float: left;
}

.report-preview {
    width:150px;
    height:150px;
    border:1px solid #dcdcdc;
    border-radius: 5px;
    background-color:#fff;
    margin:50px;
    padding: 5px;
    font-size: 18px;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2), 0 13px 20px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all .4s ease;
    user-select: none;
}


.report-preview:hover { /** Super cheezy*/
    box-shadow: 0px 20px 14px 0 rgba(0, 0, 0, 0.2), 14px 20px 20px 0 rgba(0, 0, 0, 0.2);
    transition: all .4s ease;
}

.report-header { /** Used in conjunction with window-header */
    background-color: #f0f8ff;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #aacde2;

}

.report-title { /** Used in conjunction with window-title */
    color: #0d4262;
    text-align: center;
    width: 100%;
    font-size: 20px;
    text-transform: none;
}

.report-header-button { /** Used in conjunction with window-header-button */
    color: #0d4262;
}

.report-header-button:hover{
    background-color:#c8e5ff;
}

.report-subtitle {
  font: 400 55px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #da9860;
  user-select: none;
  text-align: center;
  padding-top: 9px;
  transition: all .4s ease;
  cursor:pointer;
}

.report-subtitle:hover{
    transition: all .4s ease;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
    color: #ff8116;
}

.report-body {
    position: relative;
    padding: 0 8px 5px 8px;
}

.report-section-header {
    font-size: 18px;
    padding: 10px 0 5px;
    border-bottom: 1px solid #5f5f5f;
    user-select: none;
}

.report-column-header{
    font-size: 10px;
    text-align: center;
    padding: 15px 0 0 0;
    color: #797979;
}

.report-section-header.report-column-header .fas  { /*download*/
    color: #00a915;
    position: absolute;
    right: 19px;
    top: 0;
    width: 15px;
    height: 15px;
    cursor: pointer;
    transition: 0.2s;
}


.report-row, .report-cell,
.report-row-footer, .report-cell-footer{
    height: 22px;
    line-height: 22px;
}

.report-row {
    cursor: pointer;
}

.report-row:hover{
    background-color:#EDF3FE;
}

.report-row-selected, .report-row-selected:hover{
    background-color:#b9e5ff;
    cursor: pointer;
    transition: all .4s ease;
}


.report-cell, .report-cell-footer {
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    padding: 0px 5px;
    white-space: nowrap;
    user-select: none;
}

.report-row-footer {
    border: 0 none;
    border-top: 2px solid #000;
}

.report-cell-footer {
    border: 0 none;
}

.report-row.hidden .report-cell {
    color: #fff;
    font-style: italic;
}

.report-row.hidden .report-cell:first-child {
    color: #d3d3d3;
}


.report-settings {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 15px;
    color: #bdbdbd;
    cursor: pointer;
    z-index: 2;
    width: 32px;
    height: 24px;
    text-align: center;
    padding-top: 8px;
}

.report-settings:hover {
    color: #2c7cba;
    transition: 0.4s;
}


/**************************************************************************/
/** Callout
/**************************************************************************/

.callout-panel, .callout-arrow{
    border: 1px solid #aacde2;
    background-color: #f0f8ff;
}

.callout-panel {
    border-radius: 5px;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2), 0 13px 20px 0 rgba(0, 0, 0, 0.2);
}

.callout-arrow {
    /*
  //Only backgroundColor, borderColor, width, height, and padding
  //are considered. All other properties are ignored.
  */
    width: 10px;
    height: 10px;
    padding: 10px;
}


/**************************************************************************/
/** Chart Legend
/**************************************************************************/

.chart-legend-circle, .chart-legend-circle-outline {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 2px 4px 2px 0;
    float: left;
}

.chart-legend-circle-outline {
    width: 14px;
    height: 14px;
    border: 1px solid #36a2eb;
}

.chart-legend-label {
    color: #404040;
    font-size: 12px;
    display: inline-block;
    line-height: 20px;
    float: left;
}


/**************************************************************************/
/** Misc
/**************************************************************************/

.no-border {
    border: 0 none;
}

/** Used to add padding to the right-most column in a table to allow room
 *  for iScroll
 */
.table-col:last-child {
    padding-right: 18px;
}


/** Used in conjunction with table-header-col and table-col to make
 *  grids/tables a little more compact
 */
.compact-table {
    height: 28px;
    line-height: 28px;
    border-left: none;
}


/** Used to create a blur effect. Requires an svg element (see index.html)
 */
.blur {
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
    -webkit-filter: url(#blur-filter);
    filter: url(#blur-filter);
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

